[submodule "themes/portfolio"]
	path = themes/portfolio
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "quickstart/themes/hugo-book"]
	path = quickstart/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
